:root {
  --header-height: 40px;
  --header-mobile-height: 60px;
  --primary-color: #eee;
  --secondary-color: #ededed75;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
p,
div,
ul,
li,
button {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  cursor: pointer;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}
.nav {
}
.nav__list {
  display: flex;
  gap: 20px;
  padding-left: 10px;
}
.nav__list-item {
}
.nav__list-item button {
  background: none;
  border: none;
  cursor: pointer;
}

.main {
}
.file-manager {
  padding-top: 10px;
  display: flex;
  height: calc(100vh - var(--header-height) - 10px);
  background-color: var(--secondary-color);
}
.file-explorer {
  flex: 2;
  padding: 0 10px 10px 30px;
  overflow: auto;
  border-right: 10px solid var(--primary-color);
}
.tree-container .wrapper-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tree-container li + li {
  margin-top: 5px;
}
.tree-container li > ul {
  margin-top: 5px;
}

.folder {
  position: relative;
}

.folder .type-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(./icons/folder.svg);
  background-size: contain;
  opacity: 0.8;
}

.file .type-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(./icons/file.svg);
  background-size: contain;
}

.folder .toggle-icon {
  display: none;
  position: absolute;
  top: 2px;
  left: -15px;
  height: 12px;
  width: 12px;
  background-image: url(./icons/chevron-right.svg);
}

.arrow-down {
  padding-left: 0;
}
.arrow-down > .toggle-icon {
  display: inline-block;
}

.arrow-down:has(> .nested) > .toggle-icon {
  background-image: url(./icons/chevron-down.svg);
}

.arrow-down:has(> .nested) > .type-icon {
  background-image: url(./icons/open-folder.svg);
}

li ul {
  padding-left: 10px;
}

ul {
  display: none;
}

li .nested {
  display: block;
}

.tree-container .selected {
  background-color: var(--primary-color);
}

.file-editor {
  flex: 3;
  overflow: auto;
}
.file-editor__tabs {
  display: flex;
  gap: 4px;
  margin-left: 5px;
  padding-left: 3px;
}

.file-editor__tabs:has(> .file-editor__tab) {
  border-bottom: 3px solid rgb(223, 202, 243);
}

.file-editor__tab {
  position: relative;
  padding: 7px 20px 5px;
  border: 2px solid rgb(238, 230, 246);
  border-bottom: none;
}
.file-editor__tab .close-icon {
  position: absolute;
  content: '';
  right: 3px;
  top: 0;
  width: 12px;
  height: 12px;
  background-image: url(./icons/close.svg);
  background-size: contain;
}
.file-editor__tab.selected {
  border: 2px solid rgb(218, 189, 245);
  border-bottom: none;
}

.file_editor__file-content {
  height: calc(100% - 35px);
  overflow: auto;
  display: flex;
  flex-grow: 0;
}
.hljs {
  background: none;
}

@media (max-width: 768px) {
  .header {
    height: var(--header-mobile-height);
    display: block;
  }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    row-gap: 5px;
    column-gap: 15px;
    padding: 10px;
  }
  .file-manager {
    height: calc(100vh - var(--header-mobile-height) - 10px);
  }
}

@media (max-width: 550px) {
  .header {
    height: auto;
  }
  .file-manager {
    display: block;
    height: auto;
    margin-top: 15px;
  }
  .file-explorer {
    border-right: none;
  }
  .file-editor {
    margin-top: 30px;
  }
}
