:root {
  --header-height: 40px;
  --primary-color: #eee;
  --secondary-color: #dedada;
}

body {
  margin: 0;
  padding: 0;
}
p,
div,
ul,
li,
button {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  cursor: pointer;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
}
.nav {
}
.nav__list {
  display: flex;
  gap: 20px;
  padding-left: 10px;
}
.nav__list-item {
}
.nav__list-item button {
  background: none;
  border: none;
  cursor: pointer;
}

.main {
}
.file-manager {
  padding-top: 10px;
  display: flex;
  height: calc(100vh - var(--header-height) - 10px);
}
.file-explorer {
  flex: 2;
  background-color: azure;
  padding: 0 10px 10px 30px;
  overflow: auto;
}
.tree-container {
}

.folder {
  position: relative;
}

.folder .type-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(./icons/folder.svg);
  background-size: contain;
}

.file .type-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(./icons/file.svg);
  background-size: contain;
}

.folder .toggle-icon {
  display: none;
  position: absolute;
  left: -20px;
  height: 20px;
  width: 20px;
  background-color: cadetblue;
  background-image: url(./icons/chevron-right.svg);
}

.arrow-down {
  padding-left: 0;
}
.arrow-down > .toggle-icon {
  display: inline-block;
}

.arrow-down:has(> .nested) > .toggle-icon {
  background-image: url(./icons/chevron-down.svg);
}

.arrow-down:has(> .nested) > .type-icon {
  background-image: url(./icons/open-folder.svg);
}

li ul {
  padding-left: 10px;
}

ul {
  display: none;
}

li .nested {
  display: block;
}

.tree-container .selected {
  background-color: aqua;
}

.file-editor {
  flex: 3;
  overflow: auto;
}
.file-editor__tabs {
  display: flex;
  gap: 10px;
}
.file-editor__tab {
  position: relative;
}
.file-editor__tab .close-icon {
  position: absolute;
  right: -7px;
  top: 0;
  color: red;
}
.file-editor__tab.selected {
  background-color: rgb(155, 187, 215);
}

.file_editor__file-content {
  height: calc(100% - 20px);
  overflow: auto;
  display: flex;
  flex-grow: 0;
}
